@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  .bg-wave {
    background-image: url("../src/assets/wave-linear-gradient.svg");
    background-size: cover;
    background-position: 25% 75%;
  }
}
